.table-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-url-btn {
  margin-top: 10px;
  background-color: black;
}

.no-content-text {
  margin-top: 10%;
  font-size: 100;
}
